*{
    margin: 0px;
    padding: 0px;
}

img.pic1 {
    width: 1300px;
    height: 100px;
}


#list{
     left:0px;
    width: 1300px;
    height: 60px;
    background-color: #EEEEEE;
  
    
}

#list ul{
    float: left;
    line-height: 50px;
    font-weight: bold;
}

#list ul li{
    float: left;
    list-style: none;
    padding-right: 20px;
    color: black;
    font-size: 18px;
    text-align: center;
}


h1{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 4px red solid;
    background-color: #EEEEEE;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 500px;
    font-size: 20px;
    
}


form{
    margin: 0 auto;
    background-color: #fdfdfd;
    border:3px #ededed solid;
    border-radius: 10px;
    width: 500px;
}

form div{
    padding:15px;
    
}

.text textarea,dropdown{
    border: 1px solid #dfdfdf;
    padding:5px;
    color:#999;
    background: #fff;
    
}

.submit{
    border: 1px solid lightgray;
    padding:4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 3px;
    border-bottom: 2px solid gray;
}


footer{
    clear: both;
    margin-bottom: 0px;
    width: 1300px;
    height: 60px;
    left: 0px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 60px;
    bottom: 0;
   
}
